html {
  scroll-behavior: smooth;
}
.container {
  width: 80vw;
  margin: 5vh auto 10vh;
}

.section {
  margin: 15vh auto 0;
}

.header-button {
  background-color: #add8e696;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0;
  border: 0;
  box-shadow: none;
  transition: box-shadow 0.4s;
}

.header-button:hover {
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

img {
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  transition: box-shadow 0.4s;
}

img:hover {
  box-shadow: 0 10px 15px rgb(0 0 0 / 0.2);

}